.sobre__titulo::before {
    content: 'I';
    color: #888888;
    background-color: #888888;
    margin-right: 5px;
    padding: 5px 0 5px;
}


.sobre__titulo {
    clear: left;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin: 32px 0;
}