.contato {
    margin: 0 auto;
    width: 940px;
}

.contato__formulario {
    margin: 40px 0;
}

.contato__formulario-label {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.contato__formulario-input {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;    
}

.contato__formulario-textarea {
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.contato__check-paragrafo {
    font-size: 20px;
    margin: 0 0 20px;
}


.contato__radio-label {
    display: block;
    margin-bottom: 5px;
}

.contato__checkbox {
    display: block;
    margin: 15px 0;
}

.contato__select {
    margin-bottom: 20px;
}

.contato__select-paragrafo {
    font-size: 20px;
    margin: 10px 0;
}

.btn__enviar {
    background-color: #ffa230;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 0;
    text-transform: uppercase;
    transition: 0.5s all ease-in-out;
    width: 40%;
}

.btn__enviar:hover {
    background-color: #dd7b04;
    transform: scale(1.2);
}

table {
    margin: 20px 40px;
}


thead {
    background-color: #555555;
    color: #ffffff;
    font-size: 20px;
}

td, th {
    border: 1px solid #000000;
    padding: 8px 15px;
}