.navegacao__lista-link:hover {
    color: #343486;
    text-decoration: underline;
}

.navegacao__lista-link {
    color: #000000;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 15px;
}